@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment 2";
    ViewBag.Name = "Nathan Sonnenberg";
}

<body>
    <br />
    <img src="~/img/me_golfing.JPG" />
    <br />

    <!--Paragraph on what I hope to get out of IS 413-->
    <p>
        In IS 413, I hope to increase my development skills in order to apply them out in the real world.
        Web/App Development are so fields I'm looking into pursuing as a career so I'm very excited to learn a lot from this class.
    </p>
    <br />

    <!--Top 3 Jobs I would like to have after graduating-->
    <h3>Top 3 Jobs Out of College: </h3>
    <ol>
        <li>Web Developer</li>
        <li>Data Analyst</li>
        <li>Analytics Consultant</li>
    </ol>
    <br />

</body>