body {
    max-width: 500px;
    margin: auto;
    font-family:Algerian;
}

label {
    color: #e0241f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=number] {
    width: 40px;
}

ol {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}